<template>
  <div>
    <el-dialog v-model="props.delDialogVisible" title="提示" width="30%">
      <span>确定进行删除操作？</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="props.delDialogVisible = false">取消</el-button>
          <el-button type="primary" @click="handleDelete">确定</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, defineEmits } from 'vue';
import { getDeleteProdTag } from '@/api/grouping';
const props = defineProps(['delDialogVisible', 'deleteID']); // 父传子

const emits = defineEmits(['delete']);

const handleDelete = async () => {
  console.log(props.deleteID, 'deleteID');
  const res = await getDeleteProdTag({
    id: props.deleteID,
    t: new Date().getTime(),
  });
  if (res.data) {
    emits('delete', res.data);
  }
  console.log(res, 'deleteres11111111111111');
};
</script>
<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>
