<template>
  <div>
    <el-dialog
      v-model="props.dialogVisible"
      :title="props.type === 'add' ? '新增' : '修改'"
      width="50%"
      close-on-click-modal
      close-on-press-escape
    >
      <!-- 表单 -->
      <el-form
        ref="ruleFormRef"
        :label-position="labelPosition"
        label-width="100px"
        :model="props.type === 'add' ? formLabelAlign : props.editData"
        style="max-width: 460px"
      >
        <el-form-item label="标签名称">
          <el-input v-model="formLabelAlign.title" />
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="formLabelAlign.status" class="ml-1">
            <el-radio :label="1" size="large">正常</el-radio>
            <el-radio :label="0" size="large">禁用</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="列表样式">
          <el-radio-group v-model="formLabelAlign.style" class="ml-2">
            <el-radio :label="0" size="large">一列一个</el-radio>
            <el-radio :label="1" size="large">一列两个</el-radio>
            <el-radio :label="2" size="large">一列三个</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="排序">
          <el-input v-model="formLabelAlign.seq" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="handleCancel">取消</el-button>
          <el-button type="primary" @click="handleSubmit(ruleFormRef)"
            >确定</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { ref, defineProps, reactive, defineEmits, readonly } from 'vue';
import type { FormInstance } from 'element-plus';
import { getAddProdTag, getEditProdTag } from '@/api/grouping';
interface FormLabel {
  title: string;
  status: number;
  style: number;
  seq: string;
}

const props = defineProps(['dialogVisible', 'type', 'editData']); // 父传子
console.log(props.editData, 'props');
// props.dialogVisible = readonly(props.dialogVisible);
const labelPosition = ref('right');
const formLabelAlign = reactive<FormLabel>({
  title: '',
  status: 1,
  style: 0,
  seq: '',
});
// if (props.type !== 'add') {
//   formLabelAlign.title = props.editData.title;
//   formLabelAlign.status = props.editData.status;
//   formLabelAlign.style = props.editData.style;
//   formLabelAlign.seq = props.editData.seq;
//   console.log(formLabelAlign,'formLabelAlign');

// }
const ruleFormRef = ref<FormInstance>();
const emits = defineEmits(['add', 'addDialogVisible', 'handleEdit']);

const handleCancel = () => {
  emits('addDialogVisible');
};
// 新增弹框  确认按钮
const handleSubmit = async (formEl: any) => {
  console.log(formLabelAlign, 'formEl');
  if (props.type === 'add') {
    const res = await getAddProdTag({
      ...formLabelAlign,
      id: 0,
      isDefault: null,
      prodCount: null,
      shopId: null,
      t: new Date().getTime(),
    });
    if (res.data) {
      emits('add', res.data);
    }
  } else {
    emits('handleEdit', formLabelAlign);
  }
};
</script>

<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>
