<template>
  <el-pagination
    v-model:currentPage="props.infoParams.current"
    v-model:page-size="props.infoParams.size"
    :page-sizes="[10, 20, 30, 40, 50, 100]"
    :small="small"
    :disabled="disabled"
    :background="background"
    layout="total, sizes, prev, pager, next, jumper"
    :total="props.infoParams.total"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
  />
</template>

<script lang="ts" setup>
import { ref, defineProps, defineEmits } from 'vue';
const props = defineProps(['infoParams']);
console.log(props.infoParams, 'props');

const currentPage4 = ref(1);
const pageSize4 = ref(100);
const background = ref(true);
const emit = defineEmits(['changeCurrent', 'changeSize']);
// pageSize 改变时触发
const handleSizeChange = () => {
  emit('changeSize', props.infoParams.size); // 子传父
};

// 点击页码
const handleCurrentChange = () => {
  emit('changeCurrent', props.infoParams.current); // 子传父
};
</script>

<style scoped>
.el-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}
</style>
