<template>
  <div class="search_wrap">
    <el-form
      v-if="type === 'grouping'"
      ref="ruleFormRef"
      :inline="true"
      :model="formInline"
      class="demo-form-inline"
    >
      <el-form-item v-show="isSearch" label="标签名称">
        <el-input v-model="formInline.title" placeholder="标签名称" />
      </el-form-item>
      <el-form-item v-show="isSearch" label="状态">
        <el-select v-model="formInline.status" placeholder="状态">
          <el-option label="禁用" :value="0" />
          <el-option label="正常" :value="1" />
        </el-select>
      </el-form-item>
      <el-form-item v-show="isSearch">
        <el-button type="primary" icon="Search" @click="onSearchSubmit"
          >搜索</el-button
        >
        <el-button type="primary" icon="delete" @click="resetForm(ruleFormRef)"
          >清空</el-button
        >
      </el-form-item>
    </el-form>

    <el-form
      v-else-if="type === 'product'"
      :inline="true"
      :model="formInline"
      class="demo-form-inline"
    >
      <el-form-item label="产品名字">
        <el-input v-model="formInline.user" placeholder="产品名字" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select
          v-model="formInline.region"
          placeholder="状态"
          popper-class="select"
        >
          <el-option label="未上架" value="未上架" />
          <el-option label="上架" value="上架" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="Search" @click="onSearchSubmit"
          >搜索</el-button
        >
        <el-button type="primary" icon="delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-form v-else :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="商品名">
        <el-input v-model="formInline.user" placeholder="商品名" />
      </el-form-item>
      <el-form-item label="审核状态">
        <el-select
          v-model="formInline.region"
          placeholder="状态"
          popper-class="select"
        >
          <el-option label="待审核" value="待审核" />
          <el-option label="审核通过" value="审核通过" />
          <el-option label="审核未通过" value="审核未通过" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="Search" @click="onSearchSubmit"
          >搜索</el-button
        >
        <el-button type="primary" icon="delete">清空</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts" setup>
import { reactive, defineProps, defineEmits, ref } from 'vue';
import { getProdTag } from '@/api/grouping';
import type { FormInstance, FormRules } from 'element-plus';
const { type, isSearch } = defineProps(['type', 'isSearch']);
const ruleFormRef = ref<FormInstance>();
const formInline = reactive({
  title: '',
  status: '',
});
const emit = defineEmits(['handleSearch']);

// 点击搜索
const onSearchSubmit = async () => {
  if (type === 'grouping') {
    emit('handleSearch', formInline); // 子传父
  }
};
// 点击重置
const resetForm = (formEl: FormInstance | undefined) => {
  if (type === 'grouping') {
    if (!formEl) return;
    console.log(111);

    formEl.resetFields();
  }
};
</script>

<style>
.search_wrap {
  transition: 1s;
}
.select {
  background: #fff;
}
</style>
