<template>
  <div class="table_wrap">
    <div class="table-button">
      <el-button type="primary" icon="Plus" @click="showDialog">新增</el-button>
      <div>
        <el-tooltip
          class="box-item"
          effect="dark"
          content="刷新"
          placement="top"
        >
          <el-button
            type="primary"
            :icon="Refresh"
            circle
            @click="handleRefresh"
          />
        </el-tooltip>
        <el-tooltip
          class="box-item"
          effect="dark"
          content="显隐"
          placement="top"
        >
          <el-button type="primary" :icon="Menu" circle />
        </el-tooltip>
        <el-tooltip
          class="box-item"
          effect="dark"
          content="搜索"
          placement="top"
        >
          <el-button
            type="primary"
            :icon="Search"
            circle
            @click="handleShowSearch"
          />
        </el-tooltip>
      </div>
    </div>
    <el-table
      :data="props.tableData"
      style="width: 100%"
      :stripe="true"
      :sum-text="800"
      :header-row-style="table - header"
      :border="true"
    >
      <el-table-column
        label="序号"
        width="180"
        type="index"
        :index="indexMethod"
        align="center"
      >
      </el-table-column>
      <el-table-column label="标签名称" width="180" align="center">
        <template #default="scope">
          <span style="text-align: center">{{ scope.row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="180" align="center">
        <template #default="scope">
          <el-tag :type="scope.row.status == '0' ? 'danger' : ''">{{
            scope.row.status == 0 ? '禁用' : '正常'
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="默认类型" width="180" align="center">
        <template #default="scope">
          <el-tag style="margin-left: 10px">{{
            scope.row.isDefault == '1' ? '默认类型' : '自定义类型'
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="排序" width="180" align="center">
        <template #default="scope">
          <span style="text-align: center">{{ scope.row.seq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template #default="scope">
          <el-button
            size="small"
            type="primary"
            icon="edit"
            @click="handleEdit(scope.$index, scope.row)"
            >修改</el-button
          >
          <el-button
            size="small"
            type="danger"
            icon="delete"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <Dialog
      :dialog-visible="dialogVisible"
      :type="type"
      :edit-data="editData"
      @add="handleAdd"
      @addDialogVisible="addDialogVisible"
      @handleEdit="onhandleEdit"
    />
    <DeleteDialog
      :del-dialog-visible="delDialogVisible"
      :delete-i-d="deleteID"
      @delete="handleDel"
    />
  </div>
</template>

<script lang="ts" setup>
import {
  ref,
  defineProps,
  onMounted,
  reactive,
  getCurrentInstance,
  readonly,
  defineEmits,
} from 'vue';
import { getProdTag, getProdTagItem, getEditProdTag } from '@/api/grouping';
import DeleteDialog from './DeleteDialog.vue';
import Dialog from './Dialog.vue';
import { Refresh, Menu, Search } from '@element-plus/icons-vue';
interface TableData {
  data: TableDataItem[];
}
interface TableDataItem {
  createTime: string;
  deleteTime: string;
  id: number;
  isDefault: number;
  prodCount: number;
  seq: number;
  shopId: number;
  status: number;
  style: number;
  title: string;
  updateTime: string;
}
const props = defineProps(['tableData', 'getProdTagData']);
// console.log(props.getProdTagData, 'props');
const infoParams = reactive({
  current: 1,
  size: 10,
  t: new Date().getTime(),
});

const tableData = reactive<TableData>({ data: [] });

const delDialogVisible = ref(false);
const dialogVisible = ref(false);

// 弹框类型
const type = ref('');
// 编辑数据
const editData = reactive({
  createTime: '',
  deleteTime: null,
  id: 0,
  isDefault: 0,
  prodCount: 0,
  seq: 0,
  shopId: 0,
  status: 0,
  style: 0,
  title: '',
  updateTime: '',
});
// 删除 id
const deleteID = ref(0);

const emits = defineEmits(['handleShowSearch']);

// 表格 下标
const indexMethod = (index: number) => {
  return index + 1;
};
// 点击新增显示弹框
const showDialog = () => {
  dialogVisible.value = true;
  type.value = 'add';
};
const addDialogVisible = () => {
  dialogVisible.value = false;
  console.log('取消');
};

// 新增数据后  更新数据
const handleAdd = (data: boolean) => {
  console.log(data, 'data');
  if (data) {
    dialogVisible.value = false;
    props.getProdTagData();
  }
};
// 删除数据后  更新数据
const handleDel = (data: boolean) => {
  if (data) {
    delDialogVisible.value = false;
    props.getProdTagData();
  }
};

// 编辑按钮
const handleEdit = async (index: number, row: TableDataItem) => {
  console.log(row);
  dialogVisible.value = true;
  type.value = 'edit';
  const res = await getProdTagItem({
    id: row.id,
    t: new Date().getTime(),
  });
  editData.createTime = res.data.createTime;
  editData.deleteTime = res.data.deleteTime;
  editData.id = res.data.id;
  editData.isDefault = res.data.isDefault;
  editData.prodCount = res.data.prodCount;
  editData.seq = res.data.seq;
  editData.shopId = res.data.shopId;
  editData.status = res.data.status;
  editData.style = res.data.style;
  editData.title = res.data.title;
  editData.updateTime = res.data.updateTime;
  console.log(editData, 'editData');
};
const onhandleEdit = async (data) => {
  console.log(data, 'data');
  const res = await getEditProdTag({
    ...editData,
    ...data,
  });
  if (res.data) {
    handleAdd(res.data);
  }
  console.log(res, 'edit111111111111111');
};
const handleDelete = (index: number, row: TableDataItem) => {
  console.log(index, row);
  delDialogVisible.value = true;
  deleteID.value = row.id;
  console.log(deleteID.value, 'deleteID.value');
};

// 点击显隐搜索
const handleShowSearch = () => {
  emits('handleShowSearch');
};
// 点击刷新
const handleRefresh = () => {
  props.getProdTagData();
};
</script>

<style lang="scss" scoped>
.table_wrap {
  .table-button {
    display: flex;
    justify-content: space-between;
  }
  .el-table--fit {
    margin-top: 20px;
  }
}
.table-header {
  font-weight: bold;
}
</style>
