<template>
  <div class="product_wrap">
    <Search type="product" />
    <Table :prod-data="prodData" />
  </div>
</template>
<script lang="ts" setup>
import { ref, reactive } from 'vue';
import { getProdprod } from '@/api/pro/product';
import Search from '@/components/Grouping/Search.vue';
import Table from '@/components/product/Table.vue';

const infoParams = reactive({
  current: 1,
  size: 10,
});
const prodData = reactive({ data: [] });

const getProdData = async () => {
  const res = await getProdprod({
    ...infoParams,
    t: new Date().getTime(),
  });
  prodData.data = res.data;
  console.log(prodData.data, 'res');
};
getProdData();
</script>
<style lang="scss">
.product_wrap {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  padding: 22px;
  box-sizing: border-box;
}
</style>
