<template>
  <p>定时任务</p>
  <div class="mod-schedule">
    <div class="el-form">
      <div class="el-form-search"></div>
      <div class="el-form-btn">
        <el-row>
          <el-button>查询</el-button>
          <el-button type="primary">新增</el-button>
          <el-button type="danger" plain disabled>批量删除</el-button>
          <el-button type="danger" plain disabled>批量暂停</el-button>
          <el-button type="danger" plain disabled>批量恢复</el-button>
          <el-button type="danger" plain disabled>批量立即执行</el-button>
          <el-button type="success" plain disabled>日志列表</el-button>
        </el-row>
      </div>
    </div>
    <el-table
      ref="multipleTableRef"
      :data="timeData.data"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" />
      <el-table-column label="ID" width="120" property="jobId">
      </el-table-column>
      <el-table-column property="beanName" label="bead名称" width="120" />
      <el-table-column property="methodName" label="方法名称" width="120" />
      <el-table-column property="" label="参数" width="120" />
      <el-table-column
        property="cronExpression"
        label="cron表达式"
        width="120"
      />
      <el-table-column property="remark" label="备注" width="120" />
      <el-table-column property="" label="状态" width="120">
        <el-row class="mb-4">
          <el-button type="正常">正常</el-button>
        </el-row></el-table-column
      >
      <el-table-column property="" label="操作">
        <button>修改</button>
        <button>删除</button>
        <button>暂停</button>
        <button>回复</button>
        <button>立即执行</button>
      </el-table-column>
    </el-table>

    <div class="el-pagination">
      <div class="demo-pagination-block">
        <el-pagination
          v-model:currentPage="currentPage2"
          v-model:page-size="pageSize2"
          :page-sizes="[100, 200, 300, 400]"
          :small="small"
          :disabled="disabled"
          :background="background"
          layout="sizes, prev, pager, next"
          :total="1000"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { gettimed } from '@/api/timer.ts'; // 引入api
import { computed, ref, reactive, onMounted } from 'vue';

import { ElTable } from 'element-plus';
const currentPage2 = ref(5);
const pageSize2 = ref(100);
const small = ref(false);
const background = ref(false);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
const timeData = reactive({ data: [] });
gettimed().then((res) => {
  console.log(res, '111');
  timeData.data = res.data.records;
  console.log(timeData.data, '定时数据');
});

interface User {
  date: string;
  name: string;
  address: string;
}

const multipleTableRef = ref<InstanceType<typeof ElTable>>();
const multipleSelection = ref<User[]>([]);
const toggleSelection = (rows?: User[]) => {
  if (rows) {
    rows.forEach((row) => {
      multipleTableRef.value!.toggleRowSelection(row, undefined);
    });
  } else {
    multipleTableRef.value!.clearSelection();
  }
};
const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val;
};
</script>
<style scoped>
.mod-schedule {
  padding: 10px;
  width: 100%;
  height: 378px;
}
.input {
  width: 20%;
}
.el-button {
  margin-left: 15px;
}
.el-form-btn {
  margin: 20px 0;
}
</style>
