<template>
  <div class="swiper">
    <div class="table">
      <div v-show="openSearch" class="state">
        <el-form :inline="true" :model="state" class="demo-form-inline">
          <el-form-item label="状态">
            <el-select
              v-model="state.status"
              placeholder="状态"
              popper-class="select"
            >
              <el-option label="禁用" :value="0" />
              <el-option label="正常" :value="1" />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="Search" @click="onSubmit(state)"
              >搜索</el-button
            >
            <el-button type="primary" icon="delete">清空</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="btn">
        <div class="btnleft">
          <el-button type="primary">
            <el-icon>
              <Plus />
            </el-icon>
            <span @click="addBtn"> 新增 </span>
          </el-button>
          <el-button type="danger" disabled>批量删除</el-button>
        </div>
        <div class="btnright">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top"
          >
            <el-button :icon="Refresh" circle />
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top"
          >
            <el-button :icon="Menu" circle @click="dialogTableVisible = true" />
          </el-tooltip>

          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top"
          >
            <el-button :icon="Search" circle @click="tosearch" />
          </el-tooltip>
        </div>
      </div>
      <div class="selected">
        <p>
          当前表格已选择 <span>{{ handlenum }}</span> 项
        </p>
        <a href="">清空</a>
      </div>
      <div class="tableform">
        <el-table
          :data="tableData.data"
          border
          stripe
          style="width: 97%; margin: 0 auto"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55" align="center" />
          <el-table-column label="图片" align="center">
            <template #default="scope">
              <img :src="scope.row.imgUrl" alt="" />
              <!-- <el-image style="widsth: 100px; height: 100px" :src="scope.row.imgUrl" :fit="fit" /> -->
            </template>
          </el-table-column>
          <el-table-column label="顺序" align="center" prop="seq" />
          <el-table-column label="状态" align="center" prop="status">
            <template #default="scope">
              <p>
                {{ scope.row.status == 0 ? '禁用' : '正常' }}
              </p>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作" prop="操作">
            <!-- <template #header>
          <el-input
            v-model="search"
            size="small"
            placeholder="Type to search"
          />
        </template> -->
            <template #default="scope">
              <el-button
                type="primary"
                @click="handleEdit(scope.$index, scope.row)"
              >
                <el-icon>
                  <EditPen />
                </el-icon>
                <span @click="addBtn(scope.row.imgId)"> 修改 </span>
              </el-button>
              <el-button
                type="danger"
                @click="handleDelete(scope.$index, scope.row)"
              >
                <el-icon>
                  <Delete />
                </el-icon>
                <span> 删除 </span>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <!--------------- 分页 -------------------->
      <!-- v-model:currentPage="currentPage4"
        v-model:page-size="pageSize4" -->
      <el-pagination
        :page-sizes="[5, 10, 15, 20]"
        :small="small"
        :disabled="disabled"
        :background="background"
        layout="total, sizes, prev, pager, next, jumper"
        :total="40"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <!-- 点击添加出添加弹框 -->
    <el-dialog
      v-model="dialogVisible"
      title="新增"
      width="40%"
      :before-close="handleClose"
    >
      <el-form
        :label-position="labelPosition"
        label-width="100px"
        :model="formLabelAlign"
        style="max-width: 460px"
      >
        <el-form-item label="轮播图片">
          <el-upload
            class="avatar-uploader"
            action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
          </el-upload>
        </el-form-item>
        <el-form-item label="顺序">
          <el-input style="width: 900px" />
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group class="ml-1">
            <el-radio label="1" size="large">禁用</el-radio>
            <el-radio label="2" size="large">正常</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="类型">
          <el-radio-group class="ml-2">
            <el-radio label="1" size="large">无</el-radio>
            <el-radio label="2" size="large">商品</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="handleSubmit">确定</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- 穿梭框 -->
    <el-dialog v-model="dialogTableVisible" title="多选" width="31.4%">
      <el-transfer v-model="transfer" :data="data" />
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, reactive, onMounted } from 'vue';
import {
  ElTable,
  ElMessage,
  ElMessageBox,
  ElButton,
  ElTooltip,
} from 'element-plus';
import { Search, Refresh, Menu, Plus } from '@element-plus/icons-vue';

import type { UploadProps } from 'element-plus';
import { getswiper } from '@/api/swiper'; // 引入api
const value = ref('');
// 分页
const small = ref(false);
const currentPage4 = ref(1);
const pageSize4 = ref(10);
const background = ref(true);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
// 点击添加出弹窗
const dialogVisible = ref(false);
const addBtn = () => {
  dialogVisible.value = true;
};
// 上传图片
const imageUrl = ref('');

const handleAvatarSuccess: UploadProps['onSuccess'] = (
  response,
  uploadFile
) => {
  imageUrl.value = URL.createObjectURL(uploadFile.raw!);
};

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!');
    return false;
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!');
    return false;
  }
  return true;
};
// 点击弹出穿梭框
const dialogTableVisible = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}
const generateData = () => {
  const data: Option[] = [];
  for (let i = 1; i <= 3; i++) {
    data.push({
      key: i,
      label: `Option ${i}`,
      disabled: i % 4 === 0,
    });
  }
  return data;
};
const data = ref<Option[]>(generateData());
const transfer = ref([]);

// -----------------页面数据
const tableData: any = reactive({ data: [] });
const getList = () => {
  getswiper().then((res: any) => {
    tableData.data = res.data.records;
    console.log(tableData.data, '轮播图数据');
  });
};
getList();
// ---状态----下拉+搜索
const state = reactive({
  status: '',
});
// state.status
const onSubmit = async (state: any) => {
  const res: any = await getswiper({
    ...state,
  });
  console.log(res, '-----');
  tableData.data = res.data.records;
};

interface User {
  date: string;
  name: string;
  address: string;
}
//= =========多选框
const multipleTableRef = ref<InstanceType<typeof ElTable>>();
const multipleSelection = ref<any[]>([]);
// -------当前表格已选择几项
const handlenum = ref<any>(0);
const toggleSelection = (rows?: any[]) => {
  if (rows) {
    rows.forEach((row) => {
      // TODO: improvement typing when refactor table
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      multipleTableRef.value!.toggleRowSelection(row, undefined);
    });
  } else {
    multipleTableRef.value!.clearSelection();
  }
};
const handleSelectionChange = (val: any[]) => {
  multipleSelection.value = val;
  // -----当前表格已选择几项
  handlenum.value = val.length;
};
// 状态栏清空按钮
// selectRef
const selectRef = ref();
const clearSelect = (formEl: string) => {
  console.log(formEl.$props.modelValue, '1');
  // console.log(formEl,'11');
  // formEl.$props.modelValue=null;

  // formEl.$props.modelValue.resetFields()
};
// 修改
const handleEdit = (index: number, row: any) => {
  console.log(index, row);
};
// 删除
const handleDelete = (index: number, row: any) => {
  console.log(index, row, '---------');
  // 提示框
  ElMessageBox.confirm('确定进行[删除]操作？', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
  })
    .then(() => {
      ElMessage({
        type: 'success',
        message: '操作成功',
      });
      tableData.data.splice(index, 1);
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消删除',
      });
    });
};
// 点击右侧搜索放大镜图标
// 声明一变量控制状态栏
const openSearch = ref(true);
const tosearch = () => {
  // console.log('1');
  console.log(openSearch.value);
  openSearch.value = !openSearch.value;
};
</script>
<style scoped>
.swiper {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}
/* .manage {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid rgb(230, 230, 230);
  margin-bottom: 17px;
} */
.state {
  width: 100%;
  height: 55px;
  padding: 0px 25px;
  padding-top: 15px;
  padding-top: 15px;
}
.state .el-form-item {
  margin-right: 1px;
}
.btn {
  width: 100%;
  height: 41px;
  line-height: 41px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.btnleft {
  padding-left: 25px;
}
.btnright {
  padding-right: 25px;
}
.btnright .el-button {
  margin-right: -5px;
}
.selected {
  width: 100%;
  height: 32px;
  padding: 0 25px;
  line-height: 32px;
  display: flex;
}
.selected p {
  font-size: 14.5px;
}
.selected p span {
  font-weight: bold;
  font-size: 16px;
}
.selected a {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: rgb(56, 135, 253);
}
.tableform {
  width: 100%;
  height: 70%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.el-select-dropdown__wrap {
  background-color: #fff;
}
/* 分页 */
.el-pagination {
  padding: 0 25px;
  margin-top: 10px;
  position: absolute;
  right: 48px;
}
.state .el-button--primary {
  margin-left: 10px;
}
.cell img {
  width: 100px;
  height: 100px;
}

/* 上传图片 */
.avatar-uploader {
  width: 178px;
  height: 178px;
  display: block;
  border: 1px dashed #ccc;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>

function setup() { throw new Error('Function not implemented.'); }
