<template>
  <el-card class="box-card">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="热搜标题">
        <el-input v-model="formInline.user" placeholder="热搜标题" />
      </el-form-item>
      <el-form-item label="热搜内容">
        <el-input v-model="formInline.user" placeholder="热搜内容" />
      </el-form-item>
      <el-form-item label="启动状态">
        <el-select v-model="formInline.region" placeholder="启动状态">
          <el-option label="未启动" value="未启动" />
          <el-option label="启动" value="启动" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          color="#02a1e9"
          :icon="Search"
          @click="onSubmit"
          >搜索</el-button
        >
      </el-form-item>
      <el-form-item>
        <el-button :icon="Delete">清除</el-button>
      </el-form-item>
      <br />
      <div class="el_form_br">
        <el-form-item>
          <el-button type="primary" color="#02a1e9" @click="onSubmit"
            >+ 添加</el-button
          >
          <el-button type="primary" color="#fab6b6" class="hobar_dek"
            >批量删除</el-button
          >
        </el-form-item>
        <div class="right">
          <el-form-item>
            <el-tooltip
              class="box-item"
              effect="dark"
              content="刷新"
              placement="top"
            >
              <el-button :icon="Loading" circle />
            </el-tooltip>
          </el-form-item>
          <el-form-item>
            <el-tooltip
              class="box-item"
              effect="dark"
              content="显隐"
              placement="top"
            >
              <el-button :icon="Grid" circle />
            </el-tooltip>
          </el-form-item>
          <el-form-item>
            <el-tooltip
              class="box-item"
              effect="dark"
              content="搜素"
              placement="top"
            >
              <el-button :icon="Search" circle />
            </el-tooltip>
          </el-form-item>
        </div>
      </div>
    </el-form>
  </el-card>
</template>
<script lang="ts" setup>
import {
  Search,
  Delete,
  Loading,
  Grid,
  Edit,
  Timer,
} from '@element-plus/icons-vue';
import { reactive } from 'vue';

const formInline = reactive({
  user: '',
  region: '',
});

const onSubmit = () => {
  console.log('submit!');
};
</script>
<style scoped>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  /* margin-left: 15px;
  margin-top: 15px; */
  width: 100%;
  height: 100%;
}

.el_form_br {
  display: flex;
  justify-content: space-between;
}

/* 批量删除样式 */
.hobar_dek {
  color: #fff;
}
</style>
