<template>
  <div class="loginhomae">
    <div class="login">
      <img src="../../assets/login.png" alt="" class="login_img" />
      <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item prop="principal">
          <el-input
            v-model="ruleForm.principal"
            type="principal"
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="ruleForm.password"
            type="password"
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item prop="verification">
          <el-row class="el_row">
            <el-col :span="19">
              <el-input v-model.number="ruleForm.verification" size="100" />
            </el-col>
            <el-col :span="3">
              <img :src="captchUrl" @click="handClickImg" />
            </el-col>
          </el-row>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            class="loginbutton"
            @click="submitForm(ruleFormRef)"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue';
import type { FormInstance } from 'element-plus';
import { loginrules } from './login_rules';
import { uuid } from 'vue-uuid';
import { loginhand } from '@/api/login';
import { useRouter } from 'vue-router'; // 引用路由
import { store, useStore } from '@/store';
const stroe = useStore(); // 派发仓库的stroe
const uuidID = uuid.v4(); // uuid生成 token码
const ruleFormRef = ref<FormInstance>();
const captchUrl = ref('/api/captcha.jpg?uuid=' + uuidID); // 验证码 img
// 创建route
const route = useRouter();
const ruleForm = reactive({
  principal: '',
  password: '',
  verification: '',
});

const rules = reactive(loginrules);

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.validate(async (valid) => {
    if (valid) {
      // 点击登录的时候 要调action里的方法
      store.dispatch('Loginstore/loginAction', {
        credentials: ruleForm.password,
        imageCode: ruleForm.verification,
        principal: ruleForm.principal,
        sessionUUID: uuidID,
      }); // 触发异步方法的action里面的方法 commit()是触发同步的方法
      route.push({ path: '/' });

      // const res = await loginhand({
      //   credentials: ruleForm.password,
      //   imageCode: ruleForm.verification,
      //   principal: ruleForm.principal,
      //   sessionUUID: uuidID,
      // });
      // localStorage.setItem('res', JSON.stringify(res));
      // localStorage.setItem(
      //   'access_token',
      //   JSON.stringify(res.data.access_token)
      // );
      // localStorage.setItem('ruleForm', JSON.stringify(ruleForm));
    } else {
      console.log('error submit!');
      return false;
    }
  });
};
const handClickImg = () => {
  console.log(11);
};
</script>
<style scoped>
.loginhomae {
  width: 100%;
  height: 100%;
  background: url('@/assets/login-bg.909c916.png') no-repeat;
}

.login {
  width: 550px;
  height: 300px;
  margin: 0 auto;
  padding-top: 10%;
}

.login .login_img {
  width: 230px;
  height: 70px;
  padding-left: 200px;
  text-align: center;
}

/* 
.demo-ruleForm {
  width: 400px;
} */

.el_row {
  width: 350px;
  display: flex;
}

/* .login_img {
  width: 50px;
  height: 25px;
} */

.login img {
  width: 130px;
  height: 40px;
  padding-left: 20px;
  text-align: center;
}

.loginbutton {
  width: 400px;
  height: 35px;
  text-align: center;
}
</style>
