<template>
  <div class="nofoundbox">
    <el-col :sm="12" :lg="6" class="nofound">
      <el-result
        icon="error"
        title="404 页面找不到"
        sub-title="Please follow the instructions"
      >
        <template #extra>
          <el-button type="primary" @click="getBack">Back</el-button>
        </template>
      </el-result>
    </el-col>
  </div>
</template>
<script lang="ts" setup>
import { useRouter } from 'vue-router';
const route = useRouter();
const getBack = () => {
  route.push('/');
};
</script>
<style lang="scss">
.nofoundbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nofound {
  width: 50%;
}
</style>
