<template>
  <el-card class="box-card">
    <div class="text item">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="属性名称">
          <el-input v-model="formInline.propName" placeholder="属性名称" />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            color="#02a1e9"
            :icon="Search"
            @click="onSubmit(formInline)"
            >搜索</el-button
          >
        </el-form-item>
        <el-form-item>
          <el-button :icon="Delete" @click="onClearSubmit">清空</el-button>
        </el-form-item>
        <br />
        <div class="el_form_br">
          <el-form-item>
            <el-button type="primary" color="#02a1e9" @click="HandAllAdd"
              >+ 添加</el-button
            >
          </el-form-item>

          <div class="right">
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="刷新"
                placement="top"
              >
                <el-button :icon="Loading" circle />
              </el-tooltip>
            </el-form-item>
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="显隐"
                placement="top"
              >
                <el-button :icon="Grid" circle />
              </el-tooltip>
            </el-form-item>
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="搜素"
                placement="top"
              >
                <el-button :icon="Search" circle />
              </el-tooltip>
            </el-form-item>
          </div>
        </div>
      </el-form>
      <!-- 表格 -->
      <el-table :data="tableDatas" height="350" style="width: 100%">
        <el-table-column>
          <el-table-column
            type="index"
            label="序号"
            width="100"
            style="text-align: center"
            :index="indexMethod"
          />

          <el-table-column
            prop="propName"
            label="属性名称"
            width="350"
            style="text-align: center"
          />
          <el-table-column
            prop="prodPropValues[0].propValue"
            label="属性值"
            width="350"
            style="text-align: center"
          >
          </el-table-column>
        </el-table-column>
        <el-table-column label="操作" width="438" style="text-align: center">
          <template #default="scope">
            <el-button
              type="primary"
              size="small"
              :icon="Edit"
              color="#02a1e9"
              @click.prevent="BianRow(scope.$index)"
            >
              编辑
            </el-button>
            <el-button
              type="danger"
              size="small"
              :icon="Delete"
              @click.prevent="deleteRow(scope.row.propId)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="demo-pagination-block">
        <el-pagination
          v-model:currentPage="currentPage"
          v-model:page-size="pageSize"
          :small="small"
          :page-size="pageSize"
          :current-page="currentPage"
          layout="total,sizes, prev, pager, next, jumper"
          :total="total"
          background="#fff"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </el-card>
</template>
<script lang="ts" setup>
import {
  Search,
  Delete,
  Loading,
  Grid,
  Edit,
  Timer,
} from '@element-plus/icons-vue';
import { reactive, ref, onMounted } from 'vue';
import { GerSpecification, specSearch, specDel } from '@/api/specification_api';
import { ElMessage, ElMessageBox, ElButton, ElTooltip } from 'element-plus';

const currentPage = ref(0);
const pageSize = ref(10);
const total = ref(0);
const small = ref(false);
const background = ref(false);
const tableDatas = ref([]);
const tableTfatas = ref([]);
const formInline = reactive({
  propName: '',
});
// 表格 下标
const indexMethod = (index: number) => {
  return index + 1;
};
// 清空
const onClearSubmit = () => {
  console.log('clear');
};
// 初始数据
const getInit = async () => {
  const res = await GerSpecification({});
  tableDatas.value = res.data.records;
  tableTfatas.value = res.data.records[0].prodPropValues;
  currentPage.value = res.data.current;
  pageSize.value = res.data.pages;
  total.value = res.data.total;
};
getInit();
onMounted(() => {
  getInit();
});
// 搜索
const onSubmit = async (formInline: any) => {
  const Searess = await specSearch({ ...formInline });
  console.log(Searess, 'Searchres');

  // tableDatas.value = res.data.records;
  // location.reload()
};
// table 编辑
const BianRow = (index: number) => {
  tableDatas.value.splice(index, 1);
};
// table  删除
const deleteRow = (index: number) => {
  // 提示框
  ElMessageBox.confirm('您确定要删除吗？', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
  })
    .then(async () => {
      ElMessage({
        type: 'success',
        message: '操作成功',
      });

      await specDel(index);
      location.reload();
      getInit();
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '操作失败',
      });
    });
};

// 分页
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = async (val: number) => {
  console.log(`current page: ${val}`);
  const res = await GerSpecification({});
};

const HandAllAdd = () => {
  console.log('添加');
};
</script>
<style scoped>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 100%;
  height: 100%;
}

.el_form_br {
  display: flex;
  justify-content: space-between;
}

.tooltip-base-box {
  width: 600px;
}

.tooltip-base-box .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip-base-box .center {
  justify-content: center;
}

.tooltip-base-box .box-item {
  width: 110px;
  margin-top: 10px;
}

/* 分页 */
.demo-pagination-block {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: right;
}

.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}

.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
</style>
