<template>
  <div class="freights">
    <div class="table">
      <div v-show="openSearch" class="state">
        <el-form :inline="true" :model="state" class="demo-form-inline">
          <el-form-item label="模板名称">
            <el-input v-model="state.transName" placeholder="模板名称" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="Search" @click="onSubmit(state)"
              >搜索</el-button
            >
            <el-button type="primary" icon="delete">清空</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="btn">
        <div class="btnleft">
          <el-button type="primary">
            <el-icon>
              <Plus />
            </el-icon>
            <span> 新增 </span>
          </el-button>
          <el-button type="danger" disabled>批量删除</el-button>
        </div>
        <div class="btnright">
          <el-button :icon="Refresh" circle />
          <el-button :icon="Menu" circle />
          <el-button :icon="Search" circle @click="tosearch" />
        </div>
      </div>
      <div class="selected">
        <p>
          当前表格已选择 <span>{{ handlenum }}</span> 项
        </p>
        <a href="">清空</a>
      </div>
      <el-table
        :data="tableData.data"
        border
        stripe
        style="width: 97%; margin: 0 auto"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column label="模板名称" align="center" prop="transName" />
        <el-table-column align="center" label="操作" prop="操作" width="400px">
          <template #default="scope">
            <el-button
              type="primary"
              @click="handleEdit(scope.$index, scope.row)"
            >
              <el-icon>
                <EditPen />
              </el-icon>
              <span> 修改 </span>
            </el-button>
            <el-button
              type="danger"
              @click="handleDelete(scope.$index, scope.row)"
            >
              <el-icon>
                <Delete />
              </el-icon>
              <span> 删除 </span>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--------------- 分页 -------------------->
      <!-- v-model:currentPage="currentPage4"
        v-model:page-size="pageSize4" -->
      <el-pagination
        :page-sizes="[5, 10, 15, 20]"
        :small="small"
        :disabled="disabled"
        :background="background"
        layout="total, sizes, prev, pager, next, jumper"
        :total="40"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, reactive } from 'vue';
import { ElTable } from 'element-plus';
import { Search, Refresh, Menu } from '@element-plus/icons-vue';
import { getfreight } from '@/api/swiper'; // 引入api
// 分页
const small = ref(false);
const currentPage4 = ref(1);
const pageSize4 = ref(10);
const background = ref(true);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
// -----------------页面数据
const tableData: any = reactive({ data: [] });
const getList = () => {
  getfreight().then((res: any) => {
    tableData.data = res.data.records;
    console.log(tableData.data, '轮播图数据');
  });
};
getList();
// ---下拉
const way = reactive({
  t: new Date().getTime(),
  current: 1,
  size: 10,
});
// ---状态----搜索
const state = reactive({
  transName: '',
});
const onSubmit = async (state: any) => {
  const { transName } = state;
  const res: any = await getfreight({
    ...way,
    transName,
  });
  tableData.data = res.data.records;
};

interface User {
  date: string;
  name: string;
  address: string;
}
interface arr {
  transName: string;
}

const tableData1: User[] = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
];

const value = ref('');

//= =========多选框
const multipleTableRef = ref<InstanceType<typeof ElTable>>();
const multipleSelection = ref<User[]>([]);
// -------当前表格已选择几项
const handlenum = ref<any>(0);
const toggleSelection = (rows?: User[]) => {
  if (rows) {
    rows.forEach((row) => {
      // TODO: improvement typing when refactor table
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      multipleTableRef.value!.toggleRowSelection(row, undefined);
    });
  } else {
    multipleTableRef.value!.clearSelection();
  }
};
const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val;
  // -----当前表格已选择几项
  handlenum.value = val.length;
};
const handleEdit = (index: number, row: User) => {
  console.log(index, row);
};
const handleDelete = (index: number, row: User) => {
  console.log(index, row);
};
// 点击右侧搜索放大镜图标
// 声明一变量控制状态栏
const openSearch = ref(true);
const tosearch = () => {
  // console.log('1');
  console.log(openSearch.value);
  openSearch.value = !openSearch.value;
};
</script>
<style scoped>
.freights {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}
.manage {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid rgb(230, 230, 230);
  margin-bottom: 17px;
}
.state {
  width: 100%;
  height: 55px;
  padding: 0px 25px;
  /* padding-top: 15px; */
  padding-top: 15px;
}
.state .el-form-item {
  margin-right: 1px;
}
.selected p span {
  font-weight: bold;
  font-size: 16px;
}
.btn {
  width: 100%;
  height: 41px;
  line-height: 41px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.btnleft {
  padding-left: 25px;
}
.btnright {
  padding-right: 25px;
}
.btnright .el-button {
  margin-right: -5px;
}
.selected {
  width: 100%;
  height: 32px;
  padding: 0 25px;
  line-height: 32px;
  display: flex;
}
.selected p {
  font-size: 14px;
}
.selected a {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: rgb(56, 135, 253);
}
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.el-select-dropdown__wrap {
  background-color: #fff;
}
/* 分页 */
.el-pagination {
  /* padding: 0 25px; */
  margin-top: 10px;
  position: absolute;
  right: 48px;
}
.state .el-button--primary {
  margin-left: 10px;
}
</style>
