<template>
  <div class="grouping_wrap">
    <!-- 搜索模块 -->
    <Search
      type="grouping"
      :is-search="isSearch"
      @handleSearch="handleSearch"
    />
    <!-- 表格 -->
    <Table
      :table-data="tableData.data"
      :get-prod-tag-data="getProdTagData"
      @handleShowSearch="handleShowSearch"
    />
    <!-- 分页 -->
    <Pagination
      :info-params="infoParams"
      @changeCurrent="changeCurrent"
      @changeSize="changeSize"
    />
  </div>
</template>
<script lang="ts" setup>
import axios from 'axios';
import { onMounted, ref, reactive } from 'vue';
import Table from '@/components/Grouping/Table.vue';
import Pagination from '@/components/Grouping/Pagination.vue';
import Search from '@/components/Grouping/Search.vue';
import { getProdTag } from '@/api/grouping';
interface InfoParams {
  current: number;
  pages: number;
  searchCount: boolean;
  size: number;
  total: number;
  t: number;
}
const tableData = reactive({ data: [] });
const infoParams = reactive({
  current: 1,
  pages: 0,
  searchCount: true,
  size: 10,
  total: 0,
  t: new Date().getTime(),
});
// 搜索模块显示/隐藏
const isSearch = ref(true);
// 初始表格数据
const getProdTagData = async () => {
  const res = await getProdTag();
  console.log(res, 'res1111111');
  infoParams.current = res.data.current;
  infoParams.pages = res.data.pages;
  infoParams.searchCount = res.data.searchCount;
  infoParams.size = res.data.size;
  infoParams.total = res.data.total;
  tableData.data = res.data.records;
};
getProdTagData();

// 搜索
const handleSearch = async (data) => {
  const res = await getProdTag({
    ...infoParams,
    ...data,
  });
  tableData.data = res.data.records;
};
// 点击页码
const changeCurrent = async (current: number) => {
  infoParams.current = current;
  const res = await getProdTag({
    ...infoParams,
  });
  tableData.data = res.data.records;
};
// 改变 size
const changeSize = async (size: number) => {
  infoParams.size = size;
  // getProdTagData({ ...infoParams });
  console.log(size, 'current');
  const res = await getProdTag({
    ...infoParams,
  });
};

const handleShowSearch = () => {
  isSearch.value = !isSearch.value;
};
</script>
<style>
.grouping_wrap {
  width: 100%;
  background: #fff;
  padding: 22px;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
</style>
