<template>
  <el-card class="box-card">
    <header>
      <el-input
        v-model="input"
        size="large"
        placeholder="Please input"
        class="input"
      />
    </header>
    <main>
      <el-tree
        :data="data"
        :props="defaultProps"
        @node-click="handleNodeClick"
      />
    </main>
  </el-card>
</template>
<script setup lang="ts">
import { getaddressList } from '@/api/address';
import { reactive, ref } from 'vue';
interface Tree {
  label: string;
  children?: Tree[];
}

const handleNodeClick = (data: Tree) => {
  console.log(data);
};

const data: Tree[] = [
  {
    label: 'Level one 1',
    children: [
      {
        label: 'Level two 1-1',
        children: [
          {
            label: 'Level three 1-1-1',
          },
        ],
      },
    ],
  },
  {
    label: 'Level one 2',
    children: [
      {
        label: 'Level two 2-1',
        children: [
          {
            label: 'Level three 2-1-1',
          },
        ],
      },
      {
        label: 'Level two 2-2',
        children: [
          {
            label: 'Level three 2-2-1',
          },
        ],
      },
    ],
  },
  {
    label: 'Level one 3',
    children: [
      {
        label: 'Level two 3-1',
        children: [
          {
            label: 'Level three 3-1-1',
          },
        ],
      },
      {
        label: 'Level two 3-2',
        children: [
          {
            label: 'Level three 3-2-1',
          },
        ],
      },
    ],
  },
];

const defaultProps = {
  children: 'children',
  label: 'label',
};
const input = ref('');
console.log(input, 'input13');

const state = reactive({ list: [] });
getaddressList().then((res: any) => {
  // console.log(res.data,'resaddress');
  state.list = res.data;
});
</script>
<style scoped lang="scss">
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  height: 40px;
  .input {
    width: 35%;
    height: 100%;
  }
}
</style>
