<template>
  <Table
    :pagesoption="{ current: state.current, size: state.size }"
    @clickChild="clickEven"
    @selectChild="selectBtn"
    @inputvalue="getSearchlist"
  >
    <el-table-column type="selection" width="55" />
    <el-table-column property="roleName" label="角色名称" width="200" />
    <el-table-column property="remark" label="备注" width="200" />
    <el-table-column
      property="createTime"
      label="创建时间"
      show-overflow-tooltip
    />
  </Table>
</template>
<script setup lang="ts">
import Table from '@/components/Administrator/Table.vue';
import { reactive } from 'vue';
// import { getroleList } from '@/api/role';
import { store, useStore } from '@/store';
const stroe = useStore(); // 派发仓库的stroe
const state = reactive({
  list: [],
  data: [],
  current: 1,
  size: 5,
});
store.dispatch('administra/getList', { current: 1, size: 5 });
const clickEven = (val: number) => {
  // console.log(val, '副业民val');
  state.current = val;
  store.dispatch('administra/getList', {
    current: state.current,
    size: state.size,
  });
  // result.value=val.content
};
const selectBtn = (val: number) => {
  state.size = val;
  store.dispatch('administra/getList', {
    current: state.current,
    size: state.size,
  });
};
const getSearchlist = (val: string) => {
  // console.log(val,'roelval');
  store.dispatch('administra/getSearch', {
    current: state.current,
    size: state.size,
    roleName: val,
  });
};
</script>
<style scoped lang="scss">
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  width: 100%;
  height: 100%;
}
</style>
