<template>
  <div class="vip">
    <div class="table">
      <div v-show="openSearch" class="state">
        <el-form :inline="true" :model="state" class="demo-form-inline">
          <el-form-item label="用户昵称">
            <el-input v-model="state.nickName" placeholder="用户昵称" />
          </el-form-item>
          <el-form-item label="状态">
            <el-select
              v-model="state.status"
              placeholder="状态"
              popper-class="select"
            >
              <el-option label="禁用" :value="0" />
              <el-option label="正常" :value="1" />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="Search" @click="onSubmit(state)"
              >搜索</el-button
            >
            <el-button type="primary" icon="delete">清空</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="btn">
        <el-button :icon="Refresh" circle />
        <el-button :icon="Menu" circle />
        <el-button :icon="Search" circle @click="tosearch" />
      </div>
      <div class="tableform">
        <el-table
          :data="tableData.data"
          border
          stripe
          style="width: 97%; margin: 0 auto"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="用户昵称" align="center" prop="nickName" />
          <el-table-column label="图片" align="center">
            <template #default="scope">
              <img :src="scope.row.pic" />
            </template>
          </el-table-column>
          <el-table-column label="状态" align="center" prop="status">
            <template #default="scope">
              <el-tag :type="scope.row.status == '0' ? 'danger' : ''">{{
                scope.row.status == 0 ? '禁用' : '正常'
              }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="注册时间" align="center" prop="modifyTime" />
          <el-table-column align="center" label="操作" prop="操作">
            <!-- <template #header>
          <el-input
            v-model="search"
            size="small"
            placeholder="Type to search"
          />
        </template> -->
            <template #default="scope">
              <el-button
                type="primary"
                @click="handleEdit(scope.$index, scope.row)"
              >
                <el-icon>
                  <EditPen />
                </el-icon>
                <span> 编辑 </span>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <!--------------- 分页 -------------------->
      <!-- v-model:currentPage="currentPage4"
        v-model:page-size="pageSize4" -->
      <div class="page">
        <el-pagination
          :page-sizes="[5, 10, 15, 20]"
          :small="small"
          :disabled="disabled"
          :background="background"
          layout="total, sizes, prev, pager, next, jumper"
          :total="40"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, reactive } from 'vue';
import { ElTable } from 'element-plus';
import { Search, Refresh, Menu } from '@element-plus/icons-vue';
import { getvip } from '@/api/swiper'; // 引入api
// 分页
const small = ref(false);
const currentPage4 = ref(1);
const pageSize4 = ref(10);
const background = ref(true);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};

// -----------------页面数据
const tableData: any = reactive({ data: [] });
const getList = () => {
  getvip().then((res: any) => {
    tableData.data = res.data.records;
    console.log(tableData.data, 'vip');
  });
};
getList();
// ----------状态------------
const way = reactive({
  t: new Date().getTime(),
  current: 1,
  size: 10,
});
// ---状态----搜索
const state = reactive({
  status: '',
  nickName: '',
});
const onSubmit = async (state: any) => {
  const res: any = await getvip({
    ...state,
    ...way,
  });
  console.log(res, '-----');
  tableData.data = res.data.records;
};
interface vip {
  [propsName: string]: any;
}

const value = ref('');
const handleEdit = (index: number, row: any) => {
  console.log(index, row);
};
// 点击右侧搜索放大镜图标
// 声明一变量控制状态栏
const openSearch = ref(true);
const tosearch = () => {
  // console.log('1');
  console.log(openSearch.value);
  openSearch.value = !openSearch.value;
};
</script>
<style scoped>
.vip {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}
.manage {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px solid rgb(230, 230, 230);
  margin-bottom: 17px;
}
.state {
  width: 100%;
  height: 55px;
  padding: 0px 25px;
  /* padding-top: 15px; */
  padding-top: 15px;
}
.state .el-form-item {
  margin-right: 1px;
}

.btn {
  width: 100%;
  height: 41px;
  line-height: 41px;
  margin-bottom: 10px;
  text-align: right;
}
.btn .el-button {
  margin-right: 25px;
  margin-left: -18px;
}
.tableform {
  width: 100%;
  height: 76%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.el-select-dropdown__wrap {
  background-color: #fff;
}
/* 分页 */
.el-pagination {
  /* padding: 0 25px; */
  margin-top: 10px;
  position: absolute;
  right: 48px;
}
.state .el-button--primary {
  margin-left: 10px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
.page {
  width: 100%;
  height: 60px;
}
</style>
