<template>
  <el-row class="addBtn">
    <el-button type="primary">新增</el-button>
  </el-row>
  <div class="menutab">
    <el-table
      :data="menuData.data"
      style="width: 100%; margin-bottom: 20px"
      row-key="id"
      border
      default-expand-all
    >
      <el-table-column prop="name" label="名称" sortable width="180">
      </el-table-column>
      <el-table-column prop="" label="图标" sortable width="180">
      </el-table-column>
      <el-table-column prop="address" label="类型" sortable width="180">
        <el-tag>目录</el-tag>
      </el-table-column>
      <el-table-column prop="orderNum" label="排序号" sortable width="180">
      </el-table-column>
      <el-table-column prop="" label="菜单url" sortable width="180">
      </el-table-column>
      <el-table-column prop="" label="授权标识" sortable width="180">
      </el-table-column>
      <el-table-column prop="" label="操作" sortable width="180">
        <el-row>
          <el-button>修改</el-button>
          <el-button>删除</el-button>
        </el-row>
      </el-table-column>
    </el-table>
  </div>
</template>
<script lang="ts" setup>
import { getmenu } from '@/api/menu.ts'; // 引入api
import { computed, ref, reactive, onMounted } from 'vue';
const menuData = reactive({ data: [] });
getmenu().then((res) => {
  console.log(res, '222');
  menuData.data = res.data.menuList;
  console.log(menuData.data, '菜单数据');
});
</script>
<style>
#app {
  background: #f1f4f5;
}
.el-main {
  margin: 20px;
  background: #fff;
}
.addBtn {
  margin: 15px;
}
.cell {
  text-align: center;
}
</style>
