<template>
  <div class="classify_wrap">
    <Table :category-data="CategoryData" />
  </div>
</template>
<script lang="ts" setup>
import { ref, reactive } from 'vue';
import { getProdCategory } from '@/api/pro/classify';
import { useStore } from '@/store';
import Table from '@/components/classify/Table.vue';
const store = useStore();

const CategoryData = reactive({ data: [] });

const getProdCategoryData = async () => {
  const res = await getProdCategory({
    t: new Date().getTime(),
  });
  CategoryData.data = res.data;
  console.log(CategoryData, 'res');
};
getProdCategoryData();
const changeCount = () => {};
</script>
<style>
.classify_wrap {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  padding: 22px;
  box-sizing: border-box;
}
</style>
