<template>
  <el-container class="layout-container-demo">
    <el-aside :width="isCollapse ? '60px' : '200px'" class="el_aside">
      <el-scrollbar class="el_aside_Scrollbar">
        <button class="index_button_login">亚米建站后台</button>

        <el-menu
          class="el-menu-vertical-demo"
          active-text-color="#8a979e"
          background-color="#202b30"
          text-color="#8a979e"
          :collapse="isCollapse"
          :collapse-transition="false"
          :mode="vertical"
          router
        >
          <el-menu-item-group index="1">
            <el-menu-item index="/home">
              <el-icon>
                <HomeFilled />
              </el-icon>
              首页
            </el-menu-item>
          </el-menu-item-group>

          <el-sub-menu
            v-for="item in menuLists"
            :key="item.menuId"
            :index="'/' + item.list[0].url.replace('/', '-').split('/')[0]"
          >
            <template #title>
              <el-icon> <Avatar /> </el-icon>{{ item.name }}
            </template>
            <el-menu-item-group>
              <el-menu-item
                v-for="subitem in item.list"
                :key="subitem.menuId"
                :index="'/' + subitem.url.replace('/', '-')"
                @click="totags(subitem)"
              >
                {{ subitem.name }}
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
        </el-menu>
      </el-scrollbar>
    </el-aside>

    <el-container>
      <el-header style="font-size: 12px" class="meun_el-header">
        <div class="indexHeader_Toolbar">
          <div class="toolbarleft">
            <p @click="toggleCollapse">三</p>
          </div>
          <div class="toolbar">
            <el-dropdown>
              <span>{{ InPrincipal }}</span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item>修改密码</el-dropdown-item>
                  <el-dropdown-item @click="handIndexout"
                    >退出</el-dropdown-item
                  >
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </div>
        </div>
        <div class="infrcHeader_crumbs">
          <CrumbsVue />
        </div>
      </el-header>

      <el-main>
        <!-- <el-scrollbar /> -->
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script lang="ts" setup>
import CrumbsVue from '@/components/Crumbs/Crumbs.vue';
import { ref, onMounted, computed } from 'vue';
import { useRouter } from 'vue-router';
import { ElMessage, ElMessageBox } from 'element-plus';
import cache from '@/utils/localche/cache';
import { useStore } from '@/store';
defineProps<{ msg: string }>();
const store = useStore();
// 左侧菜单栏数据
const menuLists = computed(() => store.state.Loginstore.menuList);
// console.log(menuLists.value.url);
// window.document.title = '亚米后台'
const isCollapse = ref(false); // 折叠显示
// 创建route
const route = useRouter();
// 用户名称
const InPrincipal = ref('');
// 获取用户名称
onMounted(() => {
  if (!cache.getCache('userInfo')) {
    route.push({ path: '/login' });
  } else {
    const res = localStorage.getItem('userInfo')
      ? JSON.parse(localStorage.getItem('userInfo') as string)
      : '';
    console.log(res.username, '168');
    InPrincipal.value = res.username;
  }
});
// 实现折叠 展开
function toggleCollapse() {
  isCollapse.value = !isCollapse.value;
}
// 退出登录
const handIndexout = () => {
  ElMessageBox.confirm('您确定要退出吗？', 'Warning', {
    confirmButtonText: 'OK',
    cancelButtonText: 'Cancel',
    type: 'warning',
  })
    .then(() => {
      ElMessage({
        type: 'success',
        message: '已退出',
      });
      localStorage.clear();
      route.push({ path: '/login' });
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消退出',
      });
    });

  console.log(11);
};
const totags = (val) => {
  store.commit('Tags/setTagArr', val);
  console.log(val, 'val');
};
</script>

<style>
.layout-container-demo {
  width: 100%;
  height: 100%;
}

.layout-container-demo .el-header {
  position: relative;
  background-color: #fff;
}

.layout-container-demo .el-aside {
  /* color: var(--el-text-color-primary); */
  background: var(--el-color-primary-light-8);
}

.layout-container-demo .el-menu {
  border-right: none;
  /* background-color: #202b30; */
}

.layout-container-demo .el-menu el-menu-item-group el-menu-item {
  color: #fff;
}

.layout-container-demo .el-main {
  background-color: #f3f5f6;
}

.meun_el-header {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%) !important;
}

.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}

.toolbarleft .el_menu {
  background-color: #202b30;
  color: #fff;
}

.el-scrollbar {
  /* height: 900px; */
  background-color: #202b30;
}

.routerlink {
  color: #8a979e;
}

.el_aside_Scrollbar {
  position: relative;
}

.index_button_login {
  width: 200px;
  height: 50px;
  background-color: #09f;
  color: #fff;
  font-size: 1px;
  font-size: 18px;
  font-weight: 800;
}
.indexHeader_Toolbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infrcHeader_crumbs {
  width: 100%;
  /* height: 50px; */
  background-color: #fff;
  float: left;
}
</style>
