<template>
  <div class="table_wrap">
    <el-button type="primary" icon="Plus">新增</el-button>
    <el-button type="danger">批量删除</el-button>
    <el-table
      ref="multipleTableRef"
      :data="prodData.data.records"
      style="width: 100%; margin-top: 20px"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" />
      <el-table-column label="产品名字" width="120">
        <template #default="scope">
          <div>{{ scope.row.prodName }}</div>
        </template>
      </el-table-column>
      <el-table-column label="商品原价" width="120">
        <template #default="scope">
          <div>
            {{ scope.row.oriPrice }}
          </div></template
        >
      </el-table-column>
      <el-table-column label="商品现价" width="120">
        <template #default="scope"
          ><div>{{ scope.row.price }}</div></template
        >
      </el-table-column>
      <el-table-column label="商品库存" width="120">
        <template #default="scope"
          ><div>{{ scope.row.totalStocks }}</div></template
        >
      </el-table-column>
      <el-table-column label="产品图片" width="120">
        <template #default="scope">
          <img
            style="width: 100px; height: 100px"
            :src="scope.row.pic"
            alt=""
          />
        </template>
      </el-table-column>
      <el-table-column label="状态" align="center">
        <template #default="scope">
          <el-tag :type="scope.row.status == '0' ? 'danger' : ''">{{
            scope.row.status == 0 ? '未上架' : '上架'
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template #default="scope">
          <el-button
            size="small"
            type="primary"
            icon="edit"
            @click="handleEdit(scope.$index, scope.row)"
            >修改</el-button
          >
          <el-button
            size="small"
            type="danger"
            icon="delete"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts" setup>
import { ref, defineProps } from 'vue';
import { ElTable } from 'element-plus';

interface User {
  brief: string;
  categoryId: number;
  content: string;
  createTime: string;
  deliveryMode: string;
  deliveryTemplateId: 47;
  imgs: string;
  oriPrice: number;
  pic: string;
  price: number;
  prodId: number;
  prodName: string;
  putawayTime: string;
  shopId: number;
  shopName: null;
  skuList: null;
  soldNum: null;
  status: number;
  tagList: null;
  totalStocks: number;
  updateTime: string;
  version: number;
}
defineProps(['prodData']);
// console.log(prodData,'prodData');

const multipleTableRef = ref<InstanceType<typeof ElTable>>();
const multipleSelection = ref<User[]>([]);
// const toggleSelection = (rows?: User[]) => {
//   if (rows) {
//     rows.forEach((row) => {
//       multipleTableRef.value!.toggleRowSelection(row, undefined);
//     });
//   } else {
//     multipleTableRef.value!.clearSelection();
//   }
// };
const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val;
  console.log(multipleSelection, 'multipleSelection');
};

const tableData: User[] = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-08',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-06',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-07',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
];
</script>

<style></style>
