<template>
  <p>参数名</p>
  <div class="mod-schedule">
    <div class="el-form">
      <div class="el-form-search">
        <el-input
          v-model="input"
          placeholder="请输入内容"
          class="input"
        ></el-input>
      </div>
      <div class="el-form-btn">
        <el-row>
          <el-button>搜索</el-button>
          <el-button type="primary">+新增</el-button>
          <el-button type="danger" plain disabled>批量删除</el-button>
        </el-row>
      </div>
    </div>
    <div class="el-table">
      <el-table
        ref="multipleTableRef"
        :data="systemData.data"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column property="paramKey" label="参数名" width="120" />
        <el-table-column property="paramValue" label="参数值" width="120" />

        <el-table-column property="remark" label="备注" width="120" />
        <el-table-column property="" label="操作">
          <el-row class="mb-4">
            <el-button type="primary">编辑</el-button>
            <el-button type="danger">删除</el-button>
          </el-row>
        </el-table-column>
      </el-table>
    </div>
    <div class="el-pagination">
      <div class="el-pagination">
        <div class="demo-pagination-block">
          <el-pagination
            v-model:currentPage="currentPage2"
            v-model:page-size="pageSize2"
            :page-sizes="[100, 200, 300, 400]"
            :small="small"
            :disabled="disabled"
            :background="background"
            layout="sizes, prev, pager, next"
            :total="1000"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { getsys } from '@/api/system'; // 引入api
import { computed, ref, reactive, onMounted } from 'vue';
const currentPage2 = ref(5);
const pageSize2 = ref(100);
const small = ref(false);
const background = ref(false);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
const systemData = reactive({ data: [] });
getsys().then((res) => {
  console.log(res, '3333');
  systemData.data = res.data.records;
  console.log(systemData.data, '参数数据');
});
</script>
<style scoped>
.mod-schedule {
  padding: 10px;
  width: 100%;
  height: 378px;
  /* background: skyblue; */
}
.input {
  width: 20%;
}
.el-button {
  margin-left: 15px;
}
.el-form-btn {
  margin: 20px 0;
}
</style>
