<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <div class="input_tou">
          <el-input
            v-model="input"
            placeholder="Please input"
            clearable
            size="large"
            class="input_cd"
          />
          <el-date-picker
            v-model="value1"
            type="datetimerange"
            range-separator="To"
            start-placeholder="Start date"
            end-placeholder="End date"
            size="large"
            class="input_time"
          />
          <el-select
            v-model="value"
            clearable
            placeholder="请选择订单状态"
            size="large"
            class="input_cd"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              effect="light"
              change="selectSear"
            />
          </el-select>
        </div>
        <div class="input_cx">
          <el-button type="primary" @click="SearchBtn">查询</el-button>
          <el-button type="primary">导出待发货订单</el-button>
          <el-button type="primary">导出销售记录</el-button>
          <el-button @click="empty">清空</el-button>
        </div>
      </div>
    </template>
    <div class="text item">
      <div class="tit">
        <el-col :span="3">
          <span>商品</span>
        </el-col>
        <el-col :span="5">
          <span>成交单价/购买数量</span>
        </el-col>
        <el-col :span="3">
          <span>实付金额</span>
        </el-col>
        <el-col :span="3">
          <span>支付方式</span>
        </el-col>
        <el-col :span="3">
          <span>订单状态</span>
        </el-col>
        <el-col :span="3">
          <span>操作</span>
        </el-col>
      </div>
      <div v-for="(item, index) in state.list" :key="index" class="prod">
        <div class="prod-tit">
          <span>订单编号：{{ item.orderItems[0].orderNumber }}</span>
          <span>下单时间：{{ item.orderItems[0].recTime }}</span>
        </div>
        <div class="prod-cont">
          <el-row :gutter="12">
            <el-col :span="8" class="itemsborder">
              <dl class="cont_item">
                <dt>
                  <!-- http://img-test.gz-yami.com/2019/04/8de2ccaa66874d42986c73692b25f441.jpg -->
                  <img
                    :src="`http://img-test.gz-yami.com/${item.orderItems[0].pic}`"
                    alt=""
                  />
                </dt>
                <dd class="p_dm">
                  <p>{{ item.prodName }}</p>
                </dd>
                <dd>￥{{ item.actualTotal }}</dd>
              </dl>
            </el-col>
            <el-col :span="2" class="itemsborder p_zx">
              <p class="price">￥{{ item.total }}</p>
              <p>共{{ item.productNums }}件</p>
            </el-col>
            <el-col :span="3" class="itemsborder p_zx">
              <p>手动代付</p>
            </el-col>
            <el-col :span="3" class="itemsborder p_zx">
              <p>失败</p>
            </el-col>
            <el-col :span="3" class="p_zx">
              <p class="edit" @click="EDITBTN(item)">修改</p>
            </el-col>
          </el-row>
        </div>
        <div class="remark"><span>备注：</span></div>
      </div>
      <el-pagination
        v-model:currentPage="state.curren"
        v-model:page-size="state.page"
        :page-sizes="[10, 40, 60, 80]"
        :small="small"
        :disabled="disabled"
        :background="background"
        layout="total, sizes, prev, pager, next, jumper"
        :total="state.total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <el-dialog v-model="state.dialogFormVisible" title="修改" width="80%">
      <p style="margin-bottom: 20px">
        订单编号：{{ state.editlist.orderNumber }}
      </p>
      <el-steps finish-status="error">
        <el-step title="提交订单" />
        <el-step title="买家已付款" />
        <el-step title="卖家已发货" />
        <el-step title="买家已收货" />
      </el-steps>
      <div style="margin-top: 20px">
        订单状态：<el-tag class="ml-2" type="danger">失败</el-tag>
      </div>
      <div class="getshop">
        <div class="leftbox">
          <div class="left_topbox">
            <p style="line-height: 60px">买家付款后才可以发货</p>
          </div>
          <div class="left_buttombox">
            <p>
              <el-icon><Location /></el-icon>收货人：{{
                state.address.receiver
              }}
            </p>
            <p>手机号：{{ state.address.mobile }}</p>
            <p>
              收货地址：{{
                state.address.province + state.address.city + state.address.area
              }}
            </p>
            <p>
              <el-icon :size="25"><Goods /></el-icon>不开发票
            </p>
          </div>
        </div>
        <div class="rightbox">
          <div class="right_topbox">
            <p style="line-height: 60px">买家：</p>
          </div>
          <div class="right_buttombox">
            <el-icon :size="25"><ChatDotSquare /></el-icon>买家备注：
          </div>
        </div>
      </div>
      <el-card class="box-card">
        <template #header>
          <div
            class="card-header"
            style="
              display: flex;
              align-items: center;
              justify-content: space-around;
            "
          >
            <span>商品</span>
            <span>单价</span>
            <span>数量</span>
            <span>总价</span>
          </div>
        </template>
        <div style="height: 200px">
          <el-row class="row-bg" justify="space-between">
            <el-col :span="6"
              ><div class="grid-content ep-bg-purple">
                <dl class="shop">
                  <dt>
                    <img
                      style="
                        height: 100px;
                        width: 100px;
                        float: left;
                        margin-right: 20px;
                      "
                      :src="`http://img-test.gz-yami.com/${state.img}`"
                      alt=""
                    />
                  </dt>
                  <dd>{{ state.editlist.prodName }}</dd>
                </dl>
              </div></el-col
            >
            <el-col :span="2"
              ><div class="grid-content ep-bg-purple-light">
                {{ state.price }}
              </div></el-col
            >
            <el-col :span="2"
              ><div class="grid-content ep-bg-purple">
                {{ state.prodCount }}
              </div></el-col
            >
            <el-col :span="2"
              ><div class="grid-content ep-bg-purple">
                {{ state.productTotalAmount }}
              </div></el-col
            >
          </el-row>
          <p style="line-height: 40px">
            商品总价：￥{{ state.productTotalAmount }}
          </p>
          <p style="line-height: 40px">
            应付金额：￥{{ state.productTotalAmount }}
          </p>
        </div>
      </el-card>
      <div class="hz">
        <div class="rz"><p>订单日志</p></div>
        <div class="cen">
          <p>{{ state.basketDate }}订单更新（成功）</p>
          <p>{{ state.recTime }}取消订单（成功）</p>
        </div>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="state.dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="state.dialogFormVisible = false"
            >Confirm</el-button
          >
        </span>
      </template>
    </el-dialog>
  </el-card>
</template>
<script setup lang="ts">
import { ref, onMounted, toRef, reactive } from 'vue';
import { getList, getEditList, SearchList } from '@/api/orderForm';
interface editlist {
  data: {
    orderNumber: string;
  };
}
const input = ref('');
const value = ref('');
const dialogFormVisible = ref(false);
const value1 = ref([
  new Date(2000, 10, 10, 10, 10),
  new Date(2000, 10, 11, 10, 10),
]);
console.log(value1, 'value1');

const currentPage4 = ref(4);
const pageSize4 = ref(5);
const small = ref(false);
const background = ref(false);
const disabled = ref(false);
const options = [
  {
    value: '1',
    label: '代付款',
  },
  {
    value: '2',
    label: '代发货',
  },
  {
    value: '3',
    label: '待收货',
  },
  {
    value: '4',
    label: '待评价',
  },
  {
    value: '5',
    label: '成功',
  },
  {
    value: '6',
    label: '失败',
  },
];
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
});

const state: any = reactive({
  list: [],
  dialogFormVisible: false,
  editlist: [],
  address: {},
  orderItems: [],
  img: '',
  price: 0,
  prodCount: 0,
  productTotalAmount: 0,
  basketDate: '',
  recTime: '',
  total: 50,
  current: 1,
  size: 6,
});
const Fn = async ({ current, size }: { current: number; size: number }) => {
  const res: any = await getList({ current, size });
  state.list = res.data.records;
  state.total = res.data.total;
};
onMounted(async () => {
  Fn({ current: state.current, size: state.size });
});
// 分页
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
  state.size = val;
  Fn({ current: state.current, size: state.size });
};
const handleCurrentChange = async (val: number) => {
  // console.log(`current page: ${val}`);
  state.current = val;
  Fn({ current: state.current, size: state.size });
};
// 修改按钮
const EDITBTN = async (item: { orderNumber: number }) => {
  state.dialogFormVisible = true;
  // 请求数据
  const res: any = await getEditList(item.orderNumber);
  // console.log(res.data, 'resedit');
  state.editlist = res.data;
  state.address = res.data.userAddrOrder;
  state.orderItems = res.data.orderItems;
  state.img = state.orderItems[0].pic;
  state.price = state.orderItems[0].price;
  state.prodCount = state.orderItems[0].prodCount;
  state.productTotalAmount = state.orderItems[0].productTotalAmount;
  state.basketDate = state.orderItems[0].basketDate;
  state.recTime = state.orderItems[0].recTime;
};
// 查询按钮
const SearchBtn = async () => {
  const res: any = await SearchList({
    orderNumber: input.value,
    current: state.current,
    size: state.size,
    status: value.value,
  });
  state.list = res.data.records;
};
// 清空按钮
const empty = () => {
  input.value = '';
  value.value = '';
  value1.value = '';
};
</script>
<style lang="scss">
.el-row {
  margin-bottom: 20px;
}
.getshop {
  height: 250px;
  width: 100%;
  margin-top: 20px;

  display: flex;
  border-top: 1px solid #ccc;
  .leftbox {
    height: 100%;
    width: 50%;
    border-right: 1px solid #ccc;
    .left_topbox {
      height: 60px;
      width: 100%;
      border-bottom: 1px dashed #efefef;
    }
    .left_buttombox {
      height: calc(100% - 60px);
      width: 100%;
      p {
        line-height: 40px;
      }
    }
  }
  .rightbox {
    height: 100%;
    width: 50%;
    .right_topbox {
      height: 60px;
      width: 100%;
      border-bottom: 1px dashed #efefef;
    }
    .right_buttombox {
      height: calc(100% - 60px);
      width: 100%;
    }
  }
}
.hz {
  margin-top: 20px;
}
.rz {
  height: 50px;
  display: flex;
  align-items: center;
}
.cen p {
  color: rgb(71, 126, 245);
  line-height: 35px;
}
.el-button--text {
  margin-right: 15px;
}
.el-select {
  width: 300px;
}
.el-input {
  width: 300px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
.input_tou {
  height: 50%;
  width: 70%;
  display: flex;
  align-items: center;
  .input_cd {
    width: 30%;
    margin-right: 20px;
  }
  .input_time {
    width: 50%;
    margin-right: 20px;
  }
}
.input_cx {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.box-card {
  width: 100%;
}
.el-card__body {
  height: 100%;
  width: 100%;
}
.text {
  height: 100%;
  width: 100%;
  .tit {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .prod {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    .prod-tit {
      height: 40px;
      width: 100%;
      background: #efefef;
      display: flex;
      align-items: center;
      span {
        margin: 0 10px;
      }
    }
    .prod-cont {
      height: calc(100% - 90px);
      width: 100%;
      border: 1px solid #ccc;
      .itemsborder {
        border-right: 1px solid #ccc;
      }
      .p_zx {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .price {
        color: red;
      }
      .cont_item {
        display: flex;
        margin-top: 5px;
        dt img {
          height: 100px;
          width: 110px;
        }
        .p_dm {
          width: 200px;
        }
        dd {
          margin-left: 10px;
          .p_xm {
            line-height: 40px;
            color: #aeaeae;
            font-size: 14px;
          }
        }
      }
      .edit {
        color: rgb(21, 157, 242);
      }
    }
    .remark {
      height: 50px;
      width: 100%;
      background: #e8f7f6;
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
}
</style>
