<template>
  <div>
    <el-dialog v-model="dialogVisible" title="新增" width="50%">
      <template #footer>
        <el-form
          ref="formRef"
          :model="formData"
          label-width="120px"
          class="demo-dynamic"
        >
          <el-form-item
            label="分类图片"
            :rules="[
              {
                required: true,
                message: 'Please input email address',
                trigger: 'blur',
              },
              {
                type: 'email',
                message: 'Please input correct email address',
                trigger: ['blur', 'change'],
              },
            ]"
          >
            <el-upload
              class="avatar-uploader"
              :action="formData.action"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
            >
              <img v-if="imageUrl" :src="imageUrl" class="avatar" />
              <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
            </el-upload>
          </el-form-item>
          <el-form-item
            label="分类名称"
            :rules="[
              {
                required: true,
                message: 'Please input email address',
                trigger: 'blur',
              },
              {
                type: 'email',
                message: 'Please input correct email address',
                trigger: ['blur', 'change'],
              },
            ]"
          >
            <el-input v-model="formData.categoryName" />
          </el-form-item>
          <el-form-item label="上级分类">
            <el-cascader
              v-model="formData.value"
              :options="options"
              :props="props"
              @change="handleChange"
            />
          </el-form-item>
          <el-form-item label="排序号">
            <el-input-number
              v-model="formData.num"
              :min="1"
              controls-position="right"
              size="large"
              @change="handleChangeNum"
            />
          </el-form-item>
          <el-form-item label="状态">
            <el-radio-group v-model="formData.status" class="ml-4">
              <el-radio :label="0" size="large">下线</el-radio>
              <el-radio :label="1" size="large">正常</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <el-button @click="handleCancel">取消</el-button>
        <el-button type="primary" @click="submitForm(formRef)">确定</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { ref, reactive, defineProps, defineEmits } from 'vue';
import { ElMessageBox, ElMessage } from 'element-plus';
import { Plus } from '@element-plus/icons-vue';
import type { FormInstance, UploadProps } from 'element-plus';

const imageUrl = ref('');
// props
defineProps(['dialogVisible']);
// emit
const emits = defineEmits(['changeCancel']);
const formData = {
  action: '',
  categoryName: '',
  value: '',
  num: 1,
  status: 0,
};
const props = {
  expandTrigger: 'hover',
};

// 上级分类
const options = [
  {
    value: 'guide',
    label: 'Guide',
    children: [
      {
        value: 'disciplines',
        label: 'Disciplines',
      },
    ],
  },
  {
    value: 'guide',
    label: 'Guide',
  },
  {
    value: 'guide',
    label: 'Guide',
  },
  {
    value: 'guide',
    label: 'Guide',
  },
];

// 排序号
const num = ref(1);
const handleChangeNum = (value: number) => {
  console.log(value);
};
// 状态
const radio1 = ref(0);
const handleAvatarSuccess: UploadProps['onSuccess'] = (
  response,
  uploadFile
) => {
  imageUrl.value = URL.createObjectURL(uploadFile.raw!);
};

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!');
    return false;
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!');
    return false;
  }
  return true;
};

// 点击取消弹框
const handleCancel = () => {
  emits('changeCancel');
};

const formRef = ref<FormInstance>();
const dynamicValidateForm = reactive<{
  domains: DomainItem[];
  email: string;
}>({
  domains: [
    {
      key: 1,
      value: '',
    },
  ],
  email: '',
});

interface DomainItem {
  key: number;
  value: string;
}

// 点击确定
const submitForm = (formEl: FormInstance | undefined) => {
  console.log(formData, 'formData');
};

const handleChange = (value) => {
  console.log(value);
};
</script>

<style>
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
  border: 1px solid #ccc;
}
.el-upload {
  border: 1px solid #ccc;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>
