<template>
  <div class="table_wrap">
    <el-button type="primary" icon="Plus" @click="handelAdd">新增</el-button>
    <el-table
      :data="categoryData.data"
      style="width: 100%; margin-top: 20px"
      row-key="id"
      border
      :lazy="ture"
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column label="分类名称">
        <template #default="scope">
          <span style="text-align: center">{{ scope.row.categoryName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="图片" align="center">
        <template #default="scope">
          <img style="width: 100px; height: 100px" :src="scope.row.pic" />
        </template>
      </el-table-column>
      <el-table-column label="状态" align="center">
        <template #default="scope">
          <el-tag :type="scope.row.status == '0' ? 'danger' : ''">{{
            scope.row.status == 0 ? '下线' : '正常'
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="排序号" align="center">
        <template #default="scope">
          <span style="text-align: center">{{ scope.row.seq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template #default="scope">
          <el-button
            size="small"
            type="primary"
            icon="edit"
            @click="handleEdit(scope.$index, scope.row)"
            >修改</el-button
          >
          <el-button
            size="small"
            type="danger"
            icon="delete"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <Dialog :dialog-visible="dialogVisible" @changeCancel="changeCancel" />
  </div>
</template>

<script lang="ts" setup>
import { ref, defineProps } from 'vue';
import Dialog from '@/components/classify/Dialog.vue';

defineProps(['categoryData']);

const dialogVisible = ref(false);

// 点击新增显示弹框
const handelAdd = () => {
  dialogVisible.value = true;
};
// 点击取消隐藏弹框
const changeCancel = () => {
  dialogVisible.value = false;
};
</script>

<style></style>
