<template>
  <p>系统日志</p>
  <div class="mod-schedule">
    <div class="el-form">
      <div class="el-form-search">
        用户名
        <el-input
          v-model="input"
          placeholder="请输入内容"
          class="input"
        ></el-input>
        用户操作
        <el-input
          v-model="input"
          placeholder="请输入内容"
          class="input"
        ></el-input>
      </div>
      <div class="el-form-btn">
        <el-row class="mb-4">
          <el-button type="primary">Primary</el-button>

          <el-button type="danger" plain disabled>清空</el-button>
        </el-row>
      </div>
    </div>
    <div class="el-table">
      <el-table
        ref="multipleTableRef"
        :data="sysData.data"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" />

        <el-table-column property="username" label="用户名" width="120" />
        <el-table-column property="operation" label="用户操作" width="120" />
        <el-table-column property="method" label="请求方法" width="120" />

        <el-table-column property="time" label="执行时长" width="120" />
        <el-table-column property="ip" label="IP地址" width="120" />
        <el-table-column property="createDate" label="创建时间" width="120" />
      </el-table>
    </div>
    <div class="el-pagination">
      <div class="el-pagination">
        <div class="demo-pagination-block">
          <el-pagination
            v-model:currentPage="currentPage2"
            v-model:page-size="pageSize2"
            :page-sizes="[100, 200, 300, 400]"
            :small="small"
            :disabled="disabled"
            :background="background"
            layout="sizes, prev, pager, next"
            :total="1000"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { getsys } from '@/api/system.ts'; // 引入api
import { computed, ref, reactive, onMounted } from 'vue';
const currentPage2 = ref(5);
const pageSize2 = ref(100);
const small = ref(false);
const background = ref(false);
const disabled = ref(false);
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
const sysData = reactive({ data: [] });
getsys().then((res) => {
  console.log(res, '44444');
  sysData.data = res.data.records;
  console.log(sysData.data, '系统数据');
});
</script>
<style scoped>
.mod-schedule {
  padding: 10px;
  width: 100%;
  height: 378px;
  /* background: skyblue; */
}
.input {
  width: 20%;
}
.el-button {
  margin-left: 15px;
}
.el-form-btn {
  margin: 20px 0;
}
</style>
