<template>
  <header>
    <div class="tou">
      <span>用户名：</span>
      <el-input v-model="input" placeholder="Please input" clearable />
      <el-button type="primary" @click="SearchBtn">搜索</el-button>
      <el-button @click="Empty">清空</el-button>
    </div>
    <div class="wei">
      <div class="leftbox">
        <el-button type="primary">新增</el-button>
        <el-button type="danger">批量删除</el-button>
      </div>
      <div class="rightbox">
        <el-icon><Menu /></el-icon>
        <el-icon>
          <RefreshRight />
        </el-icon>
        <el-icon><Search /></el-icon>
      </div>
    </div>
  </header>
</template>
<script setup lang="ts">
import { ref, reactive, defineEmits } from 'vue';

// 使用defineEmits创建名称，接受一个数组
const emit = defineEmits(['clickChild']);

const props = defineProps({
  current: Number,
  size: Number,
});
// console.log(props,'headerprops');
const input = ref('');
const state = reactive({
  searchlist: [],
});
// 搜索按钮
const SearchBtn = async () => {
  // //传递给父组件
  emit('clickChild', input.value);
};
// 清空按钮
const Empty = () => {
  input.value = '';
};
</script>
<style scoped lang="scss">
header {
  height: 100%;
  width: 100%;
  .tou {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    .el-input {
      width: 30%;
    }
  }
  .wei {
    height: 50%;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .el-icon {
      margin: 0 5px;
    }
  }
}
</style>
