<template lang="">
  <el-card class="box-card">
    <template #header>
      <Header
        :current="currentPage4"
        :size="props.pagesoption.size"
        @clickChild="getSearchlist"
      ></Header>
    </template>
    <div class="text item">
      <el-table
        ref="multipleTableRef"
        :data="$store.state.administra.data"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <slot></slot>
        <el-table-column fixed="right" label="操作" width="200">
          <template #default="scope">
            <el-button size="small" @click="handleEdit(scope.$index, scope.row)"
              >编辑</el-button
            >
            <el-button
              size="small"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        v-model:currentPage="currentPage4"
        v-model:page-size="props.pagesoption.size"
        :page-sizes="[3, 5, 10, 15, 20]"
        :small="small"
        :disabled="disabled"
        :background="background"
        layout="total, sizes, prev, pager, next, jumper"
        :total="$store.state.administra.total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <!-- <el-dialog v-model="dialogFormVisible" title="Shipping address">
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogFormVisible = false"
            >Confirm</el-button
          >
        </span>
      </template>
    </el-dialog> -->
  </el-card>
</template>
<script setup lang="ts">
import { ref, reactive, defineProps, defineEmits } from 'vue';
import { ElTable } from 'element-plus';
import { Timer } from '@element-plus/icons-vue';
import Header from '@/components/Administrator/Header.vue';
import { store, useStore } from '@/store';
const stroe = useStore(); // 派发仓库的stroe
// console.log(store.state.administra.data, 'store37');

const small = ref(false);
const currentPage4 = ref(1);
const pageSize4 = ref(5);
const background = ref(false);

const props = defineProps({
  data: Object,
  pagesoption: Object,
});
// console.log(props.pagesoption,'pagesoption');

interface User {
  date: string;
  name: string;
  address: string;
}
const multipleTableRef = ref<InstanceType<typeof ElTable>>();
const multipleSelection = ref<User[]>([]);

// const dialogTableVisible = ref(false)
// const dialogFormVisible = ref(false);
const state = reactive({
  dialogFormVisible: false,
});
const toggleSelection = (rows?: User[]) => {
  if (rows) {
    rows.forEach((row) => {
      // TODO: improvement typing when refactor table
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      // @ts-expect-error
      multipleTableRef.value!.toggleRowSelection(row, undefined);
    });
  } else {
    multipleTableRef.value!.clearSelection();
  }
};
const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val;
};
// 编辑
const handleEdit = (index: number, row: User) => {
  console.log(index, row);
};
// 删除
const handleDelete = (index: number, row: User) => {
  console.log(index, row);
  state.dialogFormVisible = true;
};
// 使用defineEmits创建名称，接受一个数组
const emit = defineEmits(['clickChild', 'selectChild', 'inputvalue']);
// 分页
const handleSizeChange = (val: number) => {
  // console.log(`${val} items per page`);
  // 传递给父组件
  emit('selectChild', val);
};

const handleCurrentChange = (val: number) => {
  // console.log(`current page: ${val}`);
  // 传递给父组件
  emit('clickChild', val);
};

const getSearchlist = (val: string) => {
  // console.log(val,'vla');
  // store.state.administra.data = val
  emit('inputvalue', val);
};
</script>
<style lang="scss" scoped>
.el-pagination {
  float: right;
  margin-top: 10px;
}
</style>
