<template>
  <div class="comment_wrap">
    <Search type="comment" />
  </div>
</template>
<script lang="ts" setup>
import Search from '@/components/Grouping/Search.vue';
</script>
<style>
.comment_wrap {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  padding: 22px;
  box-sizing: border-box;
}
</style>
