<template>
  <el-card class="box-card">
    <div>
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="公告内容">
          <el-input v-model="formInline.user" placeholder="公告内容" />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="formInline.region" placeholder="状态">
            <el-option label="撤销" value="撤销" />
            <el-option label="公布" value="公布" />
          </el-select>
        </el-form-item>
        <el-form-item label="是否置顶">
          <el-select v-model="formInline.region" placeholder="是否置顶">
            <el-option label="否" value="否" />
            <el-option label="是" value="是" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" color="#02a1e9" :icon="Search"
            >搜索</el-button
          >
        </el-form-item>
        <el-form-item>
          <el-button :icon="Delete">清空</el-button>
        </el-form-item>
        <br />
        <div class="el_form_br">
          <el-form-item>
            <el-button type="primary" color="#02a1e9" @click="onSubmit"
              >+ 添加</el-button
            >
          </el-form-item>
          <div class="right">
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="刷新"
                placement="top"
              >
                <el-button :icon="Loading" circle />
              </el-tooltip>
            </el-form-item>
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="显隐"
                placement="top"
              >
                <el-button :icon="Grid" circle />
              </el-tooltip>
            </el-form-item>
            <el-form-item>
              <el-tooltip
                class="box-item"
                effect="dark"
                content="搜素"
                placement="top"
              >
                <el-button :icon="Search" circle />
              </el-tooltip>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <el-table
        :data="tableData"
        style="width: 100%"
        :stripe="true"
        :sum-text="800"
        :header-row-style="table - header"
      >
        <el-table-column label="序号" width="180">
          <template #default="scope">
            <div style="display: flex; align-items: center">
              <!-- <el-icon><timer /></el-icon> -->
              <span style="margin-left: 10px">{{ scope.row.id }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="公告内容" width="180">
          <template #default="scope">
            <span style="margin-left: 10px">{{ scope.row.title }}</span>
            <!-- <el-tag>{{ scope.row.title }}</el-tag> -->
          </template>
        </el-table-column>
        <el-table-column label="状态" width="180">
          <template #default="scope">
            <!-- #status -->
            <!-- <el-tag>{{ scope.row.name }}</el-tag> -->
            <el-tag v-if="scope.row.status === 0" size="small" type="danger"
              >撤销</el-tag
            >
            <el-tag v-else size="small">公布</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="是否置顶" width="180">
          <template #default="scope">
            <!-- #isTop -->
            <el-tag v-if="scope.row.isTop === 0" size="small">否</el-tag>
            <el-tag v-else size="small">是</el-tag>
            <!-- <div style="display: flex; align-items: center">
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </div> -->
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button
              size="small"
              type="primary"
              :icon="Edit"
              color="#02a1e9"
              @click="handleEdit(scope.$index, scope.row)"
              >修改</el-button
            >
            <el-button
              type="danger"
              size="small"
              :icon="Delete"
              @click="handleDelete(scope.$index, scope.row)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="demo-pagination-block">
        <el-pagination
          v-model:currentPage="currentPage4"
          v-model:page-size="pageSize4"
          :small="small"
          layout="total,sizes, prev, pager, next, jumper"
          :total="tableData.length"
          background="#fff"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </el-card>
</template>
<script lang="ts" setup>
import { reactive, ref, onMounted } from 'vue';
import {
  Search,
  Delete,
  Loading,
  Grid,
  Edit,
  Timer,
} from '@element-plus/icons-vue';
import { ElButton, ElTooltip } from 'element-plus';
import { GerAffiche } from '@/api/affiche_api';
interface User {
  date: string;
  name: string;
  address: string;
}
const currentPage4 = ref(4);
const pageSize4 = ref(100);
const small = ref(false);
const background = ref(false);
const current = ref(1);
const size = ref(30);
const tableData = ref([]); // 渲染数据
const total = ref();
const formInline = reactive({
  user: '',
  region: '',
});

const delDialogVisible = ref(false);
const dialogVisible = ref(false);

// 获取公告数据
onMounted(async () => {
  const res = await GerAffiche({});
  console.log(res.data.records, '公告页面 176 res');
  const { records, total, current } = res.data;
  console.log(records);
  tableData.value = records;
  // total.value = total;
});
// const tableData: User[] = [
//   {
//     date: 'title',
//     name: 'title',
//     address: 'No. 189, Grove St, Los Angeles',
//   },
// ];

const handleEdit = (index: number, row: User) => {
  console.log(index, row);
};
const handleDelete = (index: number, row: User) => {
  console.log(index, row);
  delDialogVisible.value = true;
};

// 分页
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`);
};
</script>
<style scoped>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  /* margin-left: 15px;
  margin-top: 15px; */
  width: 100%;
  height: 100%;
}
.el_form_br {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 分页 */
.demo-pagination-block {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: right;
}

.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}

.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
</style>
