<template>
  <el-tabs
    v-model="editableTabsValue"
    type="card"
    editable
    :class="editableTabsValue.length ? 'showTab' : 'hideTab'"
    class="demo-tabs"
    @click="setTab"
    @tab-remove="removeTab"
  >
    <el-tab-pane
      v-for="(item, index) in editableTabs"
      :id="item.url"
      :key="index"
      :label="item.name"
      :name="item.name"
      @click="goTag(item)"
    >
    </el-tab-pane>
    <!-- <el-dropdown class="dropDown">
      <span class="el-dropdown-link">
        <el-icon class="el-icon--right"><arrow-down/></el-icon>
      </span>
      <template #dropdown>
        <el-dropdown-item>关闭当前标签页</el-dropdown-item>
        <el-dropdown-item>关闭其他标签页</el-dropdown-item>
        <el-dropdown-item>关闭全部标签页</el-dropdown-item>
        <el-dropdown-item>刷新当前标签页</el-dropdown-item>
      </template>
    </el-dropdown> -->
  </el-tabs>
</template>
<script lang="ts" setup>
import { ref, computed } from 'vue';
import { useStore } from '@/store';
import { useRouter } from 'vue-router';
import Tags from '@/store/tags';
import cache from '@/utils/localche/cache';
import { ArrowDown } from '@element-plus/icons-vue';
const tabIndex = 2;
const store = useStore();
const router = useRouter();
const editableTabsValue = store.state.Tags.tagArr.length
  ? store.state.Tags.tagArr[store.state.Tags.tagArr.length - 1].name
  : '';
const editableTabs = store.state.Tags.tagArr;
console.log(editableTabs, 'editableTabs');

const removeTab = (targetName) => {
  store.commit('Tags/removeTag', targetName);
};
const goTag = (tagUrl) => {
  console.log(tagUrl, '41');

  router.push(`/${tagUrl}`);
};
const setTab = (e) => {
  editableTabs.forEach((item, index) => {
    if (item.name === e.target.id.split('-')[1]) {
      router.push(item.url.split('/').join('-'));
    }
  });
};
const closeTag = (e) => {
  const val = e.target.innerHTML.split('>')[1];
  switch (val) {
    case '关闭全部标题页':
      store.commit('Tags/clearTag');
      router.push('/');
      break;
    case '刷新当前标签页':
      location.reload();
      break;
    default:
      break;
  }
};
</script>
<style>
.demo-tabs > .el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}
.demo-tabs {
  width: 100%;
}
</style>
