<template>
  <Table
    :data="state.list"
    :pagesoption="{ current: state.current, size: state.size }"
    @clickChild="clickEven"
    @selectChild="selectBtn"
    @inputvalue="getSearchlist"
  >
    <el-table-column type="selection" width="55" />
    <el-table-column prop="username" label="用户名" width="200" />
    <el-table-column prop="email" label="邮箱" width="250" />
    <el-table-column prop="mobile" label="手机号" width="250" />
    <el-table-column prop="createTime" label="创建时间" width="250" />
    <el-table-column prop="" label="状态" width="120">正常</el-table-column>
  </Table>
</template>
<script setup lang="ts">
import Table from '@/components/Administrator/Table.vue';
import { getList } from '@/api/administrator';
import { reactive } from 'vue-demi';
import { store, useStore } from '@/store';
const stroe = useStore(); // 派发仓库的stroe
console.log(store, 'stoer');

const state = reactive({
  list: [],
  flag: true,
  current: 1,
  size: 3,
});
store.dispatch('administra/getvalue', {
  current: state.current, // 1
  size: state.size, // 3
});
// 分页
const clickEven = (val: number) => {
  state.current = val;
  store.dispatch('administra/getvalue', {
    current: state.current, // 2
    size: state.size, // 3
  });
};
const selectBtn = (val: number) => {
  state.size = val;
  store.dispatch('administra/getvalue', {
    current: state.current,
    size: state.size,
  });
};
// 携带inptval派发到仓库
const getSearchlist = (val: string) => {
  // console.log(val, 'addminival');
  store.dispatch('administra/getUserSearch', {
    current: state.current,
    size: state.size,
    username: val,
  });
};
</script>
<style scoped lang="scss">
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
  width: 100%;
}

.item {
  margin-bottom: 18px;
  width: 100%;
}

.box-card {
  width: 100%;
}
</style>
